site_name: ''
site_url: https://tensorflow.org
repo_url: https://github.com/tensorflow/java
site_description: Documentation of TensorFlow Java API and tools.
copyright: "&copy; TensorFlow Authors 2025"

theme:
  name: material
  logo: assets/tensorflow.svg
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.follow
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra_css:
  - stylesheets/extra.css

nav:
  - Home:
      - index.md
  - Install:
      - install.md
  - References:
      - apidocs/index.html
